/* Шапка */
.header {
  margin: 32px 130px 0 130px;
}

.header__contacts-menu {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 180px;
  height: 38px;
}

.header__contacts-list {
  display: flex;
  gap: 40px;
}

.header__contacts-item {
  font-size: 12px;
  text-align: right;
  color: var(--dark);
}

.header__contacts-link {
  display: flex;
  justify-content: flex-end;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  color: var(--accent);
  padding-top: 5px;
}

.header__email {
  text-decoration: underline;
}

.header__line {
  margin-top: 32px;
  margin-bottom: 16px;
  height: 1px;
  background: var(--gray);
}

.header__menu {
  font-size: 14px;
  text-align: left;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
}

.header__menu-link {
  color: var(--dark);
  display: flex;
}

.header__phone {
  text-transform: uppercase;
}

.header__phone-image {
  width: 16px;
  height: 16px;
}
/* Главное */
.hero {
  margin: 80px 130px;
}

.hero__article {
  display: grid;
  grid-template-columns: 580px 379px;
  padding-bottom: 32px;
}

.hero__title {
  font-weight: 700;
  font-size: 60px;
}

.hero__text {
  padding: 26px 0 20px 24px;
}

.about {
  margin: 0 130px;
}

.about__title {
  padding-bottom: 32px;
}
/* О предприятии */
.grid {
  display: grid;
  grid-template-columns: repeat(2,minmax(auto, 1fr));
  grid-template-rows: 110px 66px 280px;
  max-width: 580px;
  min-height: 512px;
  gap: 32px 20px;
}

.about__text {
  line-height: 140%;
}

.about__paragraph-two {
  grid-column: 1;
  grid-row: 2;
}

.about__paragraph-three {
  grid-row: 1;
  grid-column: 2;

}

.about__img {
  width: 580px;
  height: 280px;
}

.about__img-one {
  grid-column: 1;
  grid-row: 3;
}

.about__img-two {
  grid-row: 3;
}
/* Продукты */
.products {
  margin: 80px 130px;
}

.products__title {
  padding-bottom: 32px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.products__list-item {
  min-width: 380px;
  min-height: 435px;
  padding: 32px 24px;
  flex-grow: 1;
  background: var(--light-gray);
  position: relative;
}

.product__image {
  max-width: 200px;
}

.products__description {
  position: absolute;
  bottom: 68px;
  font-weight: 600;
  font-size: 24px;
}

.products__link {
  display: flex;
  position: absolute;
  bottom: 32px;
  color: var(--accent);
  font-size: 20px;
}
/* Карта с представительствами */
.map {
  margin: 0 130px;
}

.representation__title {
  padding-bottom: 32px;
}
/* Новости */
.news {
  margin: 80px 130px;
}

.news__title {
  padding-bottom: 32px;
}

.news__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.news__list-item {
  max-width: 380px;
  min-height: 478px;
  flex-grow: 1;
  background: var(--light-gray);
  position: relative;
}

.news__image {
  width: 380px;
  height: 250px;
}

.news__text {
  font-size: 20px;
  line-height: 28px;
  padding: 16px 16px;
}

.news__link {
  color: var(--accent);
  position: absolute;
  bottom: 24px;
  left: 16px;
}

.news__time {
  color: var(--gray);
  position: absolute;
  bottom: 24px;
  right: 16px;
}

.footer {
  background-color: var(--dark);
  padding: 80px 130px;
  color: var(--light);
}

.footer__logo-img {
  width: 180px;
  color: var(--light);
}

.footer__menu-about {
  
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
  gap: 24px;
}

.footer__list-item {

}

.footer__link {
  color: var(--light);
}

.footer__link-active {

}

